body{
    background: #000000;
}

footer{
    background: #1d2118;
    color: #ffffff;
    text-align: center;
}
.container{
    display: grid;
    grid-template-areas:
    "header" "header"
    "sidebar" "main"
    "footer" "footer"
    ;
}
header{

}
